:root {
  --aqua-color: #12B0B9;
  --white-color: #F4F4F4;
}

body { 
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  color: var(--white-color);
  overflow-x: hidden;
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
}

.btn-ok {
  width: 100px;
  height: 46px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--aqua-color);
  border-radius: 23px;
  cursor: pointer;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  max-width: 100vw;
  overflow: hidden;
  min-height: 100vh;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('assets/images/bg.png');
  background-size: cover;
  background-position: right;
  z-index: -1;
  @media (max-width: 768px ) {
    background-position: center;
  }
}

.bg__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('assets/images/navbar_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1678px;
  @media (max-width: 768px ) {
    padding: 0 15px;
  }
}

.d-hide {
  display: none !important;
}

.navbar {
  height: 120px;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    height: 80px;
  }
}

.navbar__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  cursor: pointer;
  @media (max-width: 768px) {
    height: 36px;
  }
}

.navbar__list {
  display: flex;
  gap: 20px;
  cursor: pointer;
  @media (max-width: 769px) {
    gap: 15px;
  }
}

.navbar__list-item a {
  display: flex;
  align-items: end;
}

.frame-main__congratulations {
  margin-top: 48px;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    margin-top: 0px;
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }
}

.frame-main__title {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  max-width: 753px;
  @media (max-width: 768px) {
    margin-top: 30px;
    font-size: 36px;
  }
}

.frame-main__sub-title {
  max-width: 753px;
  margin: 40px 0 0;
  font-size: 32px;
  font-weight: 700;
  @media (max-width: 1024px) {
    margin-top: 30px;
  }
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.frame-main__congratulations-text > .frame-main__text {
  margin: 40px 0 0;
  max-width: 753px;
  @media (max-width: 1024px) {
    margin-top: 30px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.frame-main__congratulations-text {
  padding-right: 30px;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    padding-right: 0;
    font-size: 14px;
  }
}

.frame-main__bottom-text {
  margin-top: 70px;
  @media (max-width: 1024px) {
    margin-top: 50px;
  }
  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

.frame-main__images {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.frame-main__big-img {
  max-width: 75%;
  width: min-content;
  height: auto; 
  @media (max-width: 768px) {
    max-width: 228px;
  }
}

.frame-main__img-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.frame-main__img-list > img {
  max-width: 100%;
  height: auto; 
  @media (max-width: 768px) {
    width: 60px;
  }
}

.frame-main__text-question {
  margin: 34px 0 0;
}

.frame-main__text-highlight {
  font-size: 20px;
  font-weight: 700;
  @media (max-width: 768px) {
    display: block;
    font-size: 16px;
  }
}

.frame-main__btns {
  margin: 27px 0 58px;
  display: flex;
  gap: 110px;
  @media (max-width: 768px) {
    gap: 95px;
    justify-content: center;
  }
}

.frame-main__btn-yes {
  background-color: var(--aqua-color);
  position: relative;
  cursor: pointer;
  width: 100%;
  border-radius: 30px 0 0 30px;
  height: 60px;
  transition: transform 0.4s;
  @media (max-width: 768px) {
    width: 30%;
  }
}

.frame-main__btn-yes::after {
  content: '';
  position: absolute;
  right: 1px;
  top: 0;
  border-width: 0 0 60px 80px;
  border-style: solid;
  border-color: transparent transparent transparent var(--aqua-color);
  transform: translateX(100%);
}


.frame-main__btn-yes:hover {
  transform: scale(1.05);
  background-color: var(--white-color);
  color: var(--aqua-color);
}

.frame-main__btn-yes:hover::after {
  border-color: transparent transparent transparent var(--white-color);
}

.frame-main__btn-no {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 0 30px 30px 0;
  background-color: var(--aqua-color);
  transition: transform 0.4s;
  @media (max-width: 768px) {
    width: 30%;
  }
}

.frame-main__btn-no::before {
  content: '';
  position: absolute;
  left: 1px;
  bottom: 0;
  border-width: 0 0 60px 80px;
  border-style: solid;
  border-color: transparent transparent var(--aqua-color) transparent;
  transform: translateX(-100%);
}

.frame-main__btn-no:hover {
  transform: scale(1.05);
  background-color: var(--white-color);
  color: var(--aqua-color);
}

.frame-main__btn-no:hover::before {
  border-color: transparent transparent var(--white-color) transparent;
}

.frame-loading { 
  text-align: center;
}

.frame-loading__title { 
  margin-top: 110px;
  text-align: center;
  font-size: 48px;
  @media (max-width: 768px) {
    margin-top: 84px;
    font-size: 16px;
  }
}


.frame-loading__text-1,
.frame-loading__text-2,
.frame-loading__text-3  {
  opacity: 0;
  @media (max-width: 678px) {
    font-size: 12px;
  }
}

.frame-loading__text-1.active {
  opacity: 1;
  margin-top: 50px;
  animation: fadeIn 1.5s ease; 
  @media (max-width: 768px) {
    margin-top: 21px;
  }
}

.frame-loading__text-2.active {
  opacity: 1;
  margin-top: 25px;
  animation: fadeIn 1.5s ease; 
  @media (max-width: 768px) {
    margin-top: 10px;
  }
}

.frame-loading__text-3.active {
  opacity: 1;
  margin-top: 25px;
  animation: fadeIn 1.5s ease; 
  @media (max-width: 768px) {
    margin-top: 10px;
  }
}

.frame-loading__img {
  display: block;
  margin: 0 auto;
  margin-top: 109px;
  opacity: 0;
}

.frame-loading__img.active {
  opacity: 1;
  margin-top: 109px;
  animation: fadeIn 1.5s ease, rotateAnimation 2s ease 1s infinite; 
  @media (max-width: 768px) {
    margin-top: 60px;
  }
}

.frame-loading__status {
  display: block;
  opacity: 0;
  margin-top: 105px;
  font-size: 20px;
  font-weight: 700;
}

.frame-loading__status.active {
  display: block;
  opacity: 1;
  margin-top: 105px;
  font-size: 20px;
  font-weight: 700;
  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.popup-choice, .popup-fail, .popup-gift {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  position: absolute;
  width: calc(100% - 30px);
  min-height: 100vh;
  text-align: center;
  background-color: #0000007a;
  z-index: 2;
}

.popup-choice__gift-img {
  width: 295;
  height: auto;
  @media(max-width: 768px) {
    width: 122px;
  }
}

.popup-choice__title {
  margin: 65px 0 41px;
  font-size: 20px;
  font-weight: 700;
  @media (max-width: 678px) {
    margin-top: 35px;
    font-size: 16px;
  }
}

.popup-choice__text {
  margin-top: 35px;
  @media (max-width: 678px) {
    margin-top: 20px;
    font-size: 12px;
  }
}

.popup-choice__btn {
  margin-top: 35px;
}

.frame-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center; 
  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.frame-boxes__box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 169px;
  cursor: pointer;
  transition: 0.4s;
  @media (max-width: 768px) {
    width: 88px;
  }
}

.frame-boxes__box:hover {
  transform: scale(1.1);
}

.frame-boxes__box-cover {
  position: relative;
  top: 84px;
  z-index: 1;
  @media (max-width: 768px) {
    top: 42px;
  }
}

.frame-boxes__box_open > .frame-boxes__box-cover {
  transform: translateY(-42px);
  @media (max-width: 768px) {
    transform: translateY(-21px);
  }
}

.popup-fail__text {
  margin-top: 120px;
  @media (max-width: 765px) {
    margin-top: 60px;
  }
}

.popup-fail__btn {
  margin-top: 150px;
  @media (max-width: 765px) {
    margin-top: 60px;
  }
}

.popup-gift__title {
  margin-top: 56px;
  @media(max-width: 768px) {
    margin-top: 20px;
  }
}

.popup-gift__sub-title {
  margin: 32px 0 0;
  @media(max-width: 768px) {
    margin-top: 20px;
  }
}

.popup-gift__text-wrapper {
  margin-top: 32px;
  @media(max-width: 768px) {
    margin-top: 20px;
  }
}

.popup-gift__text {
  margin: 0;
}

.popup-gift__btn {
  margin: 32px 0 0;
  @media(max-width: 768px) {
    margin-top: 20px;
  }
}

@keyframes fadeIn {
  0% {
    margin-top: -20px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
    animation-timing-function: steps(1);
    animation-duration: 0s; 
  }
  25% {
    transform: rotate(-90deg);
    animation-timing-function: steps(1);
    animation-duration: 0s;
  }
  50% {
    transform: rotate(-180deg);
    animation-timing-function: steps(1);
    animation-duration: 0s;
  }
  75% {
    transform: rotate(-270deg);
    animation-timing-function: steps(1);
    animation-duration: 0s;
  }
  100% {
    transform: rotate(-360deg);
    animation-timing-function: steps(1);
    animation-duration: 0s;
  }
}

